// Header.
.navbar-default
    background-color: #fff

.navbar
    margin-bottom: 0

.navbar-wrapper
    position: relative
    margin-top: 0

.navbar-default .navbar-brand
    font-weight: bold
    color: #555

.carousel-caption
    bottom: 100px

@media (min-width: 768px)
    .navbar-wrapper
        margin-top: 0


// Carousel
.carousel
    height: 400px

.carousel-inner > .item > img
    height: 400px

.carousel .item
    height: 400px


// Container

@media (min-width: 768px)
    .navbar-wrapper .navbar .container
        width: 750px

@media (min-width: 992px)
    .navbar-wrapper .navbar .container
        width: 970px

@media (min-width: 1200px)
    .navbar-wrapper .navbar .container
        width: 1170px