<!DOCTYPE html>
<html>
<head>
    <title>Eureka</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Eureka</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#">Ver en GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide" src="/assets/bg.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Encuentra objetos perdidos</h1>
                        <p>Encuentra y publica objetos perdidos en el Poli</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= yield %>

    <footer>
       <div class="container">
        <hr>
	       <p class="pull-right"><a href="#">Volver arriba</a></p>
	       <p>&copy; 2015 Poli Open Source &middot;
	           <a href="#">Ver en GitHub</a>
	       </p>
	   </div>
    </footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
